
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: none;
  padding: none;
}

.topnav a {
  /*float: left;
  display: block;*/
  color: #f2f2f2;
  background-color:#fcb514;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav{
  grid-area: topnav;
  color:black;
  background-color:white;
  padding: 10px;

}

/* Style the header */
.header {
  grid-area: header;
  background-color: #fcb514;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    
    'header header header header header header'
    'topnav topnav topnav topnav topnav topnav' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right {
  padding: 10px;
  height: 650; /* Should be removed. Only for demonstration */

}

/* Style the left column */
.left {
  grid-area: left;
  color: white;
}

/* Style the middle column */
.middle {
  grid-area: middle;
 color: white;
}

/* Style the right column */
.right {
  grid-area: right;
color: white;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas:
    
      'header header header header header header'
      'topnav topnav topnav topnav topnav topnav'  
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}




  